@font-face {
    font-family: 'Neo Sans Pro';
    src: url('NeoSansPro-Light.eot');
    src: url('NeoSansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('NeoSansPro-Light.woff2') format('woff2'),
        url('NeoSansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neo Sans Pro';
    src: url('NeoSansPro-Medium.eot');
    src: url('NeoSansPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('NeoSansPro-Medium.woff2') format('woff2'),
        url('NeoSansPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neo Sans Pro';
    src: url('NeoSansPro-Regular.eot');
    src: url('NeoSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('NeoSansPro-Regular.woff2') format('woff2'),
        url('NeoSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

